
IO_LOC "tmds_d_p_1[0]" D19,C19;
IO_PORT "tmds_d_p_1[0]" PULL_MODE=UP DRIVE=24 BANK_VCCIO=2.5;
IO_LOC "tmds_d_p_1[1]" M15,L15;
IO_PORT "tmds_d_p_1[1]" PULL_MODE=UP DRIVE=24 BANK_VCCIO=2.5;
IO_LOC "tmds_d_p_1[2]" J25,J26;
IO_PORT "tmds_d_p_1[2]" PULL_MODE=UP DRIVE=24 BANK_VCCIO=2.5;
IO_LOC "tmds_clk_p_1" K20,J20;
IO_PORT "tmds_clk_p_1" PULL_MODE=UP DRIVE=24 BANK_VCCIO=2.5;
IO_LOC "clk" P16;
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
