IO_LOC "clk50" E2;
IO_PORT "clk50" IO_TYPE=LVCMOS33;
IO_LOC "rst" H11;
IO_PORT "rst" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sdram_clock" E3;
IO_PORT "sdram_clock" IO_TYPE=LVCMOS33;
IO_LOC "serial_rx" B3;
IO_PORT "serial_rx" IO_TYPE=LVCMOS33;
IO_LOC "serial_tx" C3;
IO_PORT "serial_tx" IO_TYPE=LVCMOS33;
IO_LOC "led0" L6;
IO_PORT "led0" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[0]" F6;
IO_PORT "sdram_a[0]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[1]" F7;
IO_PORT "sdram_a[1]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[2]" J10;
IO_PORT "sdram_a[2]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[3]" J11;
IO_PORT "sdram_a[3]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[4]" K7;
IO_PORT "sdram_a[4]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[5]" H2;
IO_PORT "sdram_a[5]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[6]" H1;
IO_PORT "sdram_a[6]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[7]" H4;
IO_PORT "sdram_a[7]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[8]" G4;
IO_PORT "sdram_a[8]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[9]" J2;
IO_PORT "sdram_a[9]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[10]" J8;
IO_PORT "sdram_a[10]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[11]" J1;
IO_PORT "sdram_a[11]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_a[12]" D1;
IO_PORT "sdram_a[12]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[0]" K2;
IO_PORT "sdram_dq[0]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[1]" K1;
IO_PORT "sdram_dq[1]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[2]" L1;
IO_PORT "sdram_dq[2]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[3]" L2;
IO_PORT "sdram_dq[3]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[4]" K4;
IO_PORT "sdram_dq[4]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[5]" J4;
IO_PORT "sdram_dq[5]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[6]" G1;
IO_PORT "sdram_dq[6]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[7]" G2;
IO_PORT "sdram_dq[7]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[8]" E1;
IO_PORT "sdram_dq[8]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[9]" A1;
IO_PORT "sdram_dq[9]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[10]" F2;
IO_PORT "sdram_dq[10]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[11]" F1;
IO_PORT "sdram_dq[11]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[12]" B2;
IO_PORT "sdram_dq[12]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[13]" C2;
IO_PORT "sdram_dq[13]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[14]" L4;
IO_PORT "sdram_dq[14]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_dq[15]" L3;
IO_PORT "sdram_dq[15]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_ba[0]" L9;
IO_PORT "sdram_ba[0]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_ba[1]" K8;
IO_PORT "sdram_ba[1]" IO_TYPE=LVCMOS33;
IO_LOC "sdram_cas_n" K10;
IO_PORT "sdram_cas_n" IO_TYPE=LVCMOS33;
IO_LOC "sdram_cs_n" K9;
IO_PORT "sdram_cs_n" IO_TYPE=LVCMOS33;
IO_LOC "sdram_ras_n" L10;
IO_PORT "sdram_ras_n" IO_TYPE=LVCMOS33;
IO_LOC "sdram_we_n" J7;
IO_PORT "sdram_we_n" IO_TYPE=LVCMOS33;