//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.9 Beta-5
//Part Number: GW5A-LV25MG121NES
//Device: GW5A-25
//Device Version: A
//Created Time: Wed 10 25 21:38:46 2023

IO_LOC "dbg2" K4;
IO_PORT "dbg2" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dbg1" L1;
IO_PORT "dbg1" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "dbg0" K2;
IO_PORT "dbg0" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hub_OE" K5;
IO_PORT "hub_OE" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hub_ST" K11;
IO_PORT "hub_ST" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hub_CK" L11;
IO_PORT "hub_CK" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hub_D" E11;
IO_PORT "hub_D" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hub_C" E10;
IO_PORT "hub_C" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hub_B" A11;
IO_PORT "hub_B" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hub_A" A10;
IO_PORT "hub_A" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hub_E" C11;
IO_PORT "hub_E" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hub_B2" C10;
IO_PORT "hub_B2" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hub_G2" B11;
IO_PORT "hub_G2" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hub_R2" B10;
IO_PORT "hub_R2" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hub_B1" D10;
IO_PORT "hub_B1" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hub_G1" G11;
IO_PORT "hub_G1" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "hub_R1" G10;
IO_PORT "hub_R1" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "USER_KEY" H11;
IO_PORT "USER_KEY" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "CLK_IN" E2;
IO_PORT "CLK_IN" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
