//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: V1.9.9 Beta-5
//Part Number: GW5A-LV25MG121NES
//Device: GW5A-25
//Device Version: A
//Created Time: Tue 11 07 11:11:25 2023

IO_LOC "tmds_d_p[0]" H8,H7;
IO_PORT "tmds_d_p[0]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p[1]" G7,G8;
IO_PORT "tmds_d_p[1]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_d_p[2]" F5,G5;
IO_PORT "tmds_d_p[2]" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "tmds_clk_p" H5,J5;
IO_PORT "tmds_clk_p" IO_TYPE=LVCMOS33D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "joystick_cs2" A10;
IO_PORT "joystick_cs2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "joystick_mosi2" E10;
IO_PORT "joystick_mosi2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "joystick_clk2" K5;
IO_PORT "joystick_clk2" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "joystick_cs" A11;
IO_PORT "joystick_cs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "joystick_mosi" E11;
IO_PORT "joystick_mosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "joystick_clk" L5;
IO_PORT "joystick_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sd_dat3" G10;
IO_PORT "sd_dat3" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12 BANK_VCCIO=3.3;
IO_LOC "sd_dat2" G11;
IO_PORT "sd_dat2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12 BANK_VCCIO=3.3;
IO_LOC "sd_dat1" C11;
IO_PORT "sd_dat1" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12 BANK_VCCIO=3.3;
IO_LOC "sd_clk" D10;
IO_PORT "sd_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=12 BANK_VCCIO=3.3;
IO_LOC "O_sdram_dqm[1]" L7;
IO_PORT "O_sdram_dqm[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_dqm[0]" L8;
IO_PORT "O_sdram_dqm[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_ba[1]" K8;
IO_PORT "O_sdram_ba[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_ba[0]" L9;
IO_PORT "O_sdram_ba[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[12]" D1;
IO_PORT "O_sdram_addr[12]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[11]" J1;
IO_PORT "O_sdram_addr[11]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[10]" J8;
IO_PORT "O_sdram_addr[10]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[9]" J2;
IO_PORT "O_sdram_addr[9]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[8]" G4;
IO_PORT "O_sdram_addr[8]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[7]" H4;
IO_PORT "O_sdram_addr[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[6]" H1;
IO_PORT "O_sdram_addr[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[5]" H2;
IO_PORT "O_sdram_addr[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[4]" K7;
IO_PORT "O_sdram_addr[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[3]" J11;
IO_PORT "O_sdram_addr[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[2]" J10;
IO_PORT "O_sdram_addr[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[1]" F7;
IO_PORT "O_sdram_addr[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_addr[0]" F6;
IO_PORT "O_sdram_addr[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_wen_n" J7;
IO_PORT "O_sdram_wen_n" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_ras_n" L10;
IO_PORT "O_sdram_ras_n" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_cas_n" K10;
IO_PORT "O_sdram_cas_n" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_cs_n" K9;
IO_PORT "O_sdram_cs_n" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sdram_clk" E3;
IO_PORT "O_sdram_clk" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "led[0]" E8;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "UART_TXD" C3;
IO_PORT "UART_TXD" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "usbdp2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_PORT "usbdm2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "usbdp" L6;
IO_PORT "usbdp" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usbdm" K6;
IO_PORT "usbdm" IO_TYPE=LVCMOS33 PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "sd_cmd" D11;
IO_PORT "sd_cmd" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=12 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[15]" L3;
IO_PORT "IO_sdram_dq[15]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[14]" L4;
IO_PORT "IO_sdram_dq[14]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[13]" C2;
IO_PORT "IO_sdram_dq[13]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[12]" B2;
IO_PORT "IO_sdram_dq[12]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[11]" F1;
IO_PORT "IO_sdram_dq[11]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[10]" F2;
IO_PORT "IO_sdram_dq[10]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[9]" A1;
IO_PORT "IO_sdram_dq[9]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[8]" E1;
IO_PORT "IO_sdram_dq[8]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[7]" G2;
IO_PORT "IO_sdram_dq[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[6]" G1;
IO_PORT "IO_sdram_dq[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[5]" J4;
IO_PORT "IO_sdram_dq[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[4]" K4;
IO_PORT "IO_sdram_dq[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[3]" L2;
IO_PORT "IO_sdram_dq[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[2]" L1;
IO_PORT "IO_sdram_dq[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[1]" K1;
IO_PORT "IO_sdram_dq[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "IO_sdram_dq[0]" K2;
IO_PORT "IO_sdram_dq[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "joystick_miso2" L11;
IO_PORT "joystick_miso2" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "joystick_miso" K11;
IO_PORT "joystick_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "sd_dat0" B11;
IO_PORT "sd_dat0" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "UART_RXD" B3;
IO_PORT "UART_RXD" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "reset" H10;
IO_PORT "reset" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "s1" H11;
IO_PORT "s1" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "sys_clk" E2;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
