IO_LOC "clk" E2;
//IO_LOC "rst_n" T5;
IO_LOC "uart_rx" C3;
IO_LOC "uart_tx" B3;

IO_PORT "clk" IO_TYPE=LVCMOS33;
//IO_PORT "rst_n" IO_TYPE=LVCMOS33;
IO_PORT "uart_rx" IO_TYPE=LVCMOS33;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;
